.body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
  margin: auto;

  .input {
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 25px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .btn-page {
      margin: 25px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border: none;
      border-radius: 10px;

      &:hover {
        background-color: rgb(88, 87, 87);
        color: white;
        cursor: pointer;
      }
    }

    .disabled {
      background-color: aliceblue;
      color: grey;

      &:hover {
        background-color: aliceblue;
        color: grey;
        cursor: auto;
      }
    }
  }

  .liste-livre {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 0;
    justify-content: space-between;

    .livre {
      display: flex;
      flex-direction: row-reverse;
      background-color: bisque;
      padding: 25px;
      margin: 10px;
      margin-left: 0;
      border-radius: 10px;

      .img {
        width: 200px;
        height: 250px;
      }

      .content-livre {
        font-size: 17px;
        margin-left: 15px;
        width: 200px;
        height: 250px;
      }
    }
  }

  .no-livre {
    margin: 25px;
    font-size: large;
  }
}
