.pagination {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  background-color: #e77bdf;
}

.pagination .btn-page {
  font-size: 17px;
  margin: 20px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  background-color: #e77bdf;
}

.pagination .btn-page:hover {
  background-color: #e77bdf;
  cursor: pointer;
  text-decoration: underline;
}

.pagination .disabled {
  background-color: #e77bdf;
  color: #585656;
}

.pagination .disabled:hover {
  background-color: #e77bdf;
  color: #585656;
  cursor: auto;
  text-decoration: none;
}
