@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.bar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 80%;
    margin: auto;
    background-color: rgb(231, 123, 223);

    .title {
        margin: 15px;
        font-size: 40px;
        font-family: Dancing Script;
    }

    .input {
        width: 200px;
        margin-bottom: 40px;
        margin-top: 25px;
        margin-right: 0;
        font-size: 16px;
    }
}
